#about {
  height: 100vh;
  width: 100%;
  position: relative;
  outline: 1px solid red;
}

#bottom {
  height: 60vh;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
}

#circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 2;
}

#bottom p {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%
}