.header {
  position: fixed;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 576px) {
  .header {
    display: none;
  }
}

.name {
  flex: 1;
  font-size: 1.8rem;
}

.list {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 1.875em;
  padding-right: 2em;
}

.listItem {
  display: inline;
  color: white;
  font-size: 1.2rem;
}

.listItem:hover {
  color: rgb(94 234 212);
}

.dropdownList {
  list-style: none;
  position: absolute;
  right: 0;
  align-items: center;
}

.img {
  max-width: 70px;
  max-height: 50;
  padding-left: 1em;
}

#logo {
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin: 0;
  margin-left: 1.5rem;
  margin-top: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.247);
  border-radius: 5rem;
}
