.intro p, .intro h1{
  color: white;
}

.intro p {
  font-size: 1.5rem;
}

.intro {
  background-color: blue;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}