.greeting {
  color: rgb(94 234 212);
  font-size: 1.3em;
}

.name {
  color: white;
  font-size: 2.5em;
}

.phrase {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.5);
}

.intro {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more {
  position: absolute;
  bottom: 0;
  margin-bottom: 2em;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description p {
  margin: 0.2em;
}

.more:hover #icon {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.more p {
  margin-bottom: 0.5rem;
}

.more:hover {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 576px) {
  .greeting {
    font-size: 1em;
  }

  .name {
    color: white;
    font-size: 2em;
  }

  .phrase {
    font-size: 1.5em;
  }
}
